.banner {
    width: 100%;
    height: 40vh;
    position: relative;
    background-image: url(".././assets/banner.jpg");
    background-repeat: no-repeat;
    background-clip: contain;
    background-position: center left;
    background-position: top right, 0px 0px;
    border-radius: 28px;
}

.banner::before {
    content: "";
    position: absolute;
    background-color: #00000060;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 28px;
}

.content {
    z-index: 1;
    /* line-height: 0.5!important; */
}

.content p {
    color: #d5e80e;
}